NET sys_clk_pin LOC= AH15 | IOSTANDARD = LVCMOS33;
NET sys_clk_pin TNM_NET = sys_clk_pin;

TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 10000 ps;


NET clocks/rst TIG;
#NET clocks/nuke_i TIG;

# Ethernet PHY

TIMEGRP "gmii_tx"=PADS("gmii_tx*");
TIMEGRP "gmii_tx" OFFSET = OUT AFTER sys_clk_pin REFERENCE_PIN "gmii_tx_clk" RISING;


NET phy_rstb LOC=J14 | IOSTANDARD=LVCMOS25;

NET gmii_tx_clk LOC=J16 | IOSTANDARD=LVCMOS25 | SLEW="FAST";
NET gmii_txd<0> LOC=AF11 | IOSTANDARD=LVCMOS33;
NET gmii_txd<1> LOC=AE11 | IOSTANDARD=LVCMOS33;
NET gmii_txd<2> LOC=AH9 | IOSTANDARD=LVCMOS33;
NET gmii_txd<3> LOC=AH10 | IOSTANDARD=LVCMOS33;
NET gmii_txd<4> LOC=AG8 | IOSTANDARD=LVCMOS33;
NET gmii_txd<5> LOC=AH8 | IOSTANDARD=LVCMOS33;
NET gmii_txd<6> LOC=AG10 | IOSTANDARD=LVCMOS33;
NET gmii_txd<7> LOC=AG11 | IOSTANDARD=LVCMOS33;
NET gmii_tx_en LOC=AJ10 | IOSTANDARD=LVCMOS33;
NET gmii_tx_er LOC=AJ9 | IOSTANDARD=LVCMOS33;

NET gmii_rx_clk LOC=H17 | IOSTANDARD=LVCMOS25 | TNM= "gmii_rx_clk";
TIMESPEC "TS_GMII_RX_CLK" = PERIOD "gmii_rx_clk" 125MHz;
OFFSET = IN 2.5ns VALID 3ns BEFORE gmii_rx_clk;

NET gmii_rxd<0> LOC=A33 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<1> LOC=B33 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<2> LOC=C33 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<3> LOC=C32 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<4> LOC=D32 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<5> LOC=C34 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<6> LOC=D34 | IOSTANDARD=LVCMOS33;
NET gmii_rxd<7> LOC=F33 | IOSTANDARD=LVCMOS33;
NET gmii_rx_dv LOC=E32 | IOSTANDARD=LVCMOS33;
NET gmii_rx_er LOC=E33 | IOSTANDARD=LVCMOS33;


NET leds<0> LOC= AE24 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<1> LOC= AD24 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<2> LOC= AD25 | IOSTANDARD = LVCMOS18 | PULLUP;
NET leds<3> LOC= AD26 | IOSTANDARD = LVCMOS18 | PULLUP;

NET dip_switch<0> LOC= AJ6 | IOSTANDARD = LVCMOS18;
NET dip_switch<1> LOC= AJ7 | IOSTANDARD = LVCMOS18;
NET dip_switch<2> LOC= V8 | IOSTANDARD = LVCMOS18;
NET dip_switch<3> LOC= AK7 | IOSTANDARD = LVCMOS18;


#glink
#NET "SFP_RX_N" LOC = H1;
#NET "SFP_RX_P" LOC = G1;
#NET "SFP_TX_N" LOC = G2;
#NET "SFP_TX_P" LOC = F2;
#NET "SMA_RX_N" LOC = J1;
#NET "SMA_RX_P" LOC = K1;